.table-container {
	width: 100%;
	max-width: 64rem;
	outline: 1px solid lightgray;
	border-radius: 0.25rem;
	padding: 0.5rem 0;
}

.table-row:hover {
	background-color: lightgrey;
}

.select-page-container {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 0.5rem;
}
